h1 {
    color: #343a40;
    font-weight: bold;
    font-size: large;
    /* -webkit-text-stroke: 1px black; */
    padding: 1%;
}

/* Making search button grey */
#searchButton {
    background-color: lightgrey;
}

/* Carousels */

#routeCarousel {
    max-width: 1400px; /* Adjust the maximum width as needed */
    margin: 0 auto; /* Center the carousel horizontally */
    justify-content: center;
  }

#routeCarousel .card {
    margin: 5%;

}

#routesCarousel .card-img-top {
    height: 15vw; /* Adjust as needed */
    width: 100%;
    /* object-fit: cover; */
}

#routesCarousel .btn .btn-primary {
    padding-bottom: 1vw;
}

#routesPrev, #routesNext  
{
    width: 5%;
    height: 10%;
    color:#343a40;
    margin: auto;
    padding: 1%;
}
    
