h1 {
    color: #343a40;
    font-weight: bold;
    font-size: large;
    /* -webkit-text-stroke: 1px black; */
    padding: 1%;
}

/* Making search button grey */
#searchButton {
    background-color: lightgrey;
}

/* Carousels */

#routesCarousel .card, #communityCarousel .card {
    margin: 5%;
    border: 1px white;

}

#routesCarousel .card-img-top {
    height: 15vw; /* Adjust as needed */
    width: 100%;
    /* object-fit: cover; */
}

#routesCarousel .btn .btn-primary {
    padding-bottom: 1vw;
}

#routesPrev, #routesNext, #communityPrev, #communityNext  
{
    width: 5%;
    height: 10%;
    color:#343a40;
    margin: auto;
    padding: 1%;
}

/* #routesCarousel, #communityCarousel {
    margin: 2%;
    background-color: white;
    border: 1px black;
} */

/* NEED THESE FOR FOOTER TO LOOK PROPER SO COPY PASTE THESE FOR FOOTER */

footer .bg-light .text-center #footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

}

.footer {
    padding-top: 20px;
    border-top: 2px solid black;
  }
  .footer #logo{
    padding-bottom: 5px;
  }
    
