p {
    white-space: pre-line;
}
.h_container {
    display: flex;
    justify-content: space-around;

    border: 1px solid black;
}

.v_container {
    border: 1px solid black;
}

#ad {
    position: relative;
    background-image: url(TravelSU_ad_photo);
    width: 500px;
    height: 500px;
    padding: 10px;
    color: white;
    font-size: xx-large;
}

#sign_up_button {
    position: absolute;
    bottom: 10px;
    font-size: medium;
    width: 90px;
    height: 40px;
    padding: 10px;

}

#contact_info h2 {
    padding-top: 20px;
}

#about_us h1, #about_us p {
    margin: 5px;
}




